/*
    All contents of this file were written by Brandon Mord 
    bdrmord001@gmail.com
    
    Original owner of git code Bmord01
*/
GtkWindow{
	font: Comic Sans 9;
	background: Gainsboro;
}

GtkToggleButton:checked{
	background: ForestGreen;
	color : white;
}
GtkToggleButton:insensitive{
	background: DimGrey;
	color : LightGrey;
}
GtkSwitch:active {
	color: white;
	font: Comic Sans 14;
}

GtkWidget:insensitive{
    background: DimGrey;
	color : LightGrey;
}
